.restaurant-section {
  width: 70vw;
  padding: 26px 42px;
  margin: 24px auto 38px;
  background-color: #fcfcfc;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border: 0px solid none;
  border-radius: 100px/2%;
}

.restaurant-element {
  width: 100%;
  margin-top: 25px;
  padding: 0px 25px 15px;
  border-bottom: 1px solid #666666;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.restaurant-element a {
  color: #000000;
  text-decoration: none;
}

.restaurant-element h4 {
  margin: 8px 0px 12px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}