.userpage-section {
  width: 70vw;
  padding: 26px 42px;
  min-height: 500px;
  margin: 24px auto 38px;
  border: 0px solid none;
  border-radius: 5%/10%;
  background-color: #fcfcfc;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.userpage-info {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #666666;
}

.userpage-info h2 {
  margin: 10px 0px;
  font-size: 42px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.userpage-info p {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.userpage-restaurants {
  padding: 20px 0px;
  width: 100%;
  min-height: 20vh;
  border-bottom: 1px solid #666666;
}

.userpage-restaurants h3 {
  margin: 10px 0px;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.userpage-restaurants-p {
  margin-top: 25px;
}

.userpage-restaurants p a {
  color: #0066cd;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.userpage-restaurants p a:hover {
  border-bottom: 2px solid #0066cd;
}

.userpage-restaurant {
  margin-left: 5px;
}

.userpage-restaurant-container a {
  color: #000000;
  text-decoration: none;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.userpage-restaurant-container a p i {
  color: #808080;
  font-weight: 300;
}

.userpage-reservations {
  padding: 20px 0px;
  width: 100%;
  min-height: 20vh;
}

.userpage-reservations h3 {
  margin: 10px 0px;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.userpage-reservation {
  margin-left: 5px;
}

.userpage-reservation a {
  color: #000000;
  text-decoration: none;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.userpage-reservation a p i {
  color: #808080;
  font-weight: 300;
}
